
*.xcuserstate

IOS Apps/View  Switcher/.DS_Store

*.xcscheme

IOS Apps/View  Switcher/View  Switcher.xcodeproj/xcuserdata/darioalessandro.xcuserdatad/xcschemes/xcschememanagement.plist

IOS Apps/View Switcher/.DS_Store

.DS_Store

IOS Apps/.DS_Store

IOS Apps/View Switcher/View Switcher.xcodeproj/xcuserdata/darioalessandro.xcuserdatad/xcschemes/xcschememanagement.plist
